extends layout

block content
    h1 Create New Message
    form(method='POST' action='/new')
        input(name='messageUser' placeholder='Your Name', required)
        input(name='messageText' placeholder='Your Message', required)
        button submit